body
{
    width: auto;
    margin: auto;
    padding: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    
    
    background-image: url(https://raw.githubusercontent.com/theAlanDu/theAlanDu.github.io/master/FlyBy.jpg);
    background-size: 220vh;
    background-position: 60%;
    background-repeat: no-repeat;
    border: gray;
    background-color: black;
}
/*----------------------------------------------------------------------------------------------*/
header
{
    padding: 0px 0px 0px 15px;
    height: 100px;

    background:rgb(0, 0, 0);
    border: black;
}
.header div
{
    height: 100px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header h1
{
    color: white;
    font-style: helvetica;
    font-size: 4vh;
}
.header h2
{
    color: white;
    font-style: helvetica;
    font-size: 2vh;
}
.header ul
{
    display: flex;
    flex-direction: row;
}
.header li
{
    padding: 0px 5vh 0px 0;
}
.header a
{
    font-style: helvetica;
    font-size: 2vh;
    color: white;   
}
a:link
{
    color: white;
    text-decoration: none;
}
  a:visited {
    color:white;
    text-decoration: none;
}
a:hover
{
    color:gray;
    text-decoration: none;
}
a:active 
{
    color: white;
    text-decoration: none;
} 
/*----------------------------------------------------------------------------------------------*/  
main
{
    min-height: calc(100vh - 170px);
}
.main section
{
    position: absolute;
    top: 15%;
    left: 5%;
    width: 250px; 
    padding: 0 0vh 1vh 1vh;
    
    display: flex;
    flex-direction: column;

    background-color:rgba(78, 78, 78, 0.6);
}
#email, #instagram, #linkedin
{

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
#email button
{
    background-image: url(https://raw.githubusercontent.com/theAlanDu/theAlanDu.github.io/master/Logos/gmail.png);
    background-size: 5vh 5vh;
    height: 100%;  
    width: 6vh;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    position:relative;
    bottom:-15%;
    right: 3px;
}
#instagram button
{
    background-image: url(https://raw.githubusercontent.com/theAlanDu/theAlanDu.github.io/master/Logos/instagram.png);
    background-size: 5vh 5vh;
    height: 100%;  
    width: 6vh;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    position:relative;
    bottom:-15%;
    right: 3px;
}
#linkedin button
{
    background-image: url(https://raw.githubusercontent.com/theAlanDu/theAlanDu.github.io/master/Logos/linkedin.png);
    background-size: 5vh 5vh;
    height: 100%;  
    width: 6vh;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    position:relative;
    bottom:-15%;
}
.main h1
{
    margin: 2vh 0 2vh 0;
    font-size: 4vh;
    color: white;
    text-shadow: 5px 5px 5px black;
}
.main h2
{
    margin-right: 10px;
    text-align: top;
    font-weight: 600;
    font-size: 2.25vh;
    color: white;
    text-shadow: 5px 5px 5px black;
}

/*----------------------------------------------------------------------------------------------*/  
footer
{   
    width: auto;
    height: 70px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0px 4vh 0px 4vh;

    background:rgb(0, 0, 0);
    border: black;
}
.footer div
{
    height: 70px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer h1
{
    color: white;
    font-style: helvetica;
    font-size: 120%;
}
.footer h2
{
    color: white;
    font-style: helvetica;
    font-size: 110%;
}