header
{
    background:rgb(0, 0, 0);
    border: black;
    height: 75px;
    width: 100%;
}
.header div
{
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 75px;
    justify-content: space-between;
    margin-left: 15px;
}
.header h1
{
    color: white;
    font-size: 18pt;
    font-style: helvetica;
    margin-right: 0px;
}
.header h2
{
    color: white;
    font-style: helvetica;
    font-size: 12pt;
    margin-left: 12px;   
}
.header a
{
    margin-right: 10px;
}
a:link
{
    color: white;
    text-decoration: none;
}
  a:visited {
    color:white;
    text-decoration: none;
}
a:hover
{
    color:gray;
    text-decoration: none;
}
a:active 
{
    color: white;
    text-decoration: none;
} 
/*----------------------------------------------------------------------------------------------*/
footer
{   
    background:rgb(0, 0, 0);
    border: black;
    height: 80px; 
    margin-top: auto;
    width: 100%;
}
.footer div
{
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 80px;
    justify-content: space-evenly;
}
.footer h1
{
    color: white;
    font-size: 12pt;
    font-style: helvetica;
    font-weight: 300;
    margin-left: 10px;
    text-align: start;
}
.footer h2
{
    color: white;
    margin-right: 25px;
    font-size: 10pt;
    font-style: helvetica;
    font-weight: 400;
    text-align: center;
}
div.button
{
    display: flex;
    flex-direction: center;
}
#email button
{
    background-color: rgba(255, 255, 255, 0);
    background-image: url(https://raw.githubusercontent.com/theAlanDu/theAlanDu.github.io/master/Logos/gmail.png);
    background-repeat: no-repeat; 
    background-size: 50px auto;
    border: none;
    color: white;
    cursor: pointer;
    height: 50px;
    margin-right: 6px;
    text-indent: -999999px;  
    width:50px;
}
#instagram button
{
    background-color: rgb(255, 255, 255);
    background-image: url(https://raw.githubusercontent.com/theAlanDu/theAlanDu.github.io/master/Logos/instagram.png);
    background-size: 38px auto;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    height: 40px;
    margin-right: 6px;
    text-indent: -999999px;
    width: 40px;
}
#linkedin button
{
    background-color: rgba(255, 255, 255, 0);
    background-image: url(https://raw.githubusercontent.com/theAlanDu/theAlanDu.github.io/master/Logos/linkedin.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50px; 
    border: none;
    bottom:-15%;
    color: white;
    cursor: pointer;
    height: 50px;
    margin-right: 5px;
    position: relative;
    text-indent: -999999px;
    width: 50px;
}
/*----------------------------------------------------------------------------------------------*/
@media screen and (min-width: 600px)
{
    header
    {
        background:rgb(0, 0, 0);
        border: black;
        height: 60px;
        width: 100%;
    }
    .header div
    {
        align-items: center;
        display: flex;
        flex-direction: row;
        height: 60px;
        justify-content: space-between;
    }
    .header h1
    {
        color: white;
        font-size: 32pt;
        font-style: helvetica;
    }
    .header h2
    {
        color: white;
        font-style: helvetica;
        font-size: 18pt;
        font-weight: 600;
    }    
    footer
    {   
        background:rgb(0, 0, 0);
        border: black;
        height: 50px; 
        width: auto;
    }
    .footer div
    {
        align-items: center;
        display: flex;
        flex-direction: row;
        height: 50px;
        justify-content: space-between;
    }
    .footer h1
    {
        color: white;
        font-size: 15pt;
        font-style: helvetica;
        font-weight: 300;
        margin-right: 50px;
        text-align: end;
        
    }
    .footer h2
    {
        color: white;
        margin-right: 25px;
        font-size: 12pt;
        font-style: helvetica;
        font-weight: 400;
    }        
    #email button
    {
        background-color: rgba(255, 255, 255, 0);
        background-image: url(https://raw.githubusercontent.com/theAlanDu/theAlanDu.github.io/master/Logos/gmail.png);
        background-repeat: no-repeat; 
        background-size: 30px 35px;
        border: none;
        color: white;
        cursor: pointer;
        height: 35px;
        margin-right: 15px;
        text-indent: -999999px;  
        width: 30px;
    }
    #instagram button
    {
        background-color: rgb(255, 255, 255);
        background-image: url(https://raw.githubusercontent.com/theAlanDu/theAlanDu.github.io/master/Logos/instagram.png);
        background-size: 28px 28px;
        background-position: center;
        background-repeat: no-repeat;
        border: none;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        height: 30px;
        margin-right: 15px;
        text-indent: -999999px;
        width: 30px;
    }
    #linkedin button
    {
        background-color: rgba(255, 255, 255, 0);
        background-image: url(https://raw.githubusercontent.com/theAlanDu/theAlanDu.github.io/master/Logos/linkedin.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 35px; 
        border: none;
        bottom:-15%;
        color: white;
        cursor: pointer;
        height: 35px;
        margin-right: 15px;
        position: relative;
        text-indent: -999999px;
        width: 35px;
    }
}