header
{
    background:rgb(0, 0, 0);
    border: black;
    height: 150px;
    padding: 0px 20px 0px 20px;
}
.header div
{
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 150px;
    justify-content: space-between;
}
.header h1
{
    color: white;
    font-size: 50pt;
    font-style: helvetica;
}
.header h2
{
    color: white;
    font-style: helvetica;
}
.header ul
{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}
.header li
{
    padding: 0px 30px 0px 0;
}
.header a
{
    color: white; 
    font-size: 30pt;
    font-style: helvetica;
}
a:link
{
    color: white;
    text-decoration: none;
}
  a:visited {
    color:white;
    text-decoration: none;
}
a:hover
{
    color:gray;
    text-decoration: none;
}
a:active 
{
    color: white;
    text-decoration: none;
} 
/*----------------------------------------------------------------------------------------------*/
footer
{   
    background:rgb(0, 0, 0);
    border: black;
    height: 140px;
    margin-bottom: auto; 
    margin-top: auto;
    padding: 0px 2vh 0px 2vh;
    width: auto;
}
.footer div
{
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 140px;
    justify-content: space-between;
}
.footer h1
{
    color: white;
    font-size: 24pt;
    font-style: helvetica;
    font-weight: 300;
    margin-right: 50px;
    text-align: end;
    
}
.footer h2
{
    color: white;
    margin-right: 25px;
    font-size: 20pt;
    font-style: helvetica;
    font-weight: 400;
}
div.button
{
    display: flex;
    flex-direction: center;
}
#email button
{
    background-color: rgba(255, 255, 255, 0);
    background-image: url(https://raw.githubusercontent.com/theAlanDu/theAlanDu.github.io/master/Logos/gmail.png);
    background-repeat: no-repeat; 
    background-size: 120px 135px;
    border: none;
    color: white;
    cursor: pointer;
    height: 135px;
    margin-right: 15px;
    text-indent: -999999px;  
    width: 120px;
}
#instagram button
{
    background-color: rgb(255, 255, 255);
    background-image: url(https://raw.githubusercontent.com/theAlanDu/theAlanDu.github.io/master/Logos/instagram.png);
    background-size: 100px 100px;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    height: 105px;
    margin-right: 15px;
    text-indent: -999999px;
    width: 105px;
}
#linkedin button
{
    background-color: rgba(255, 255, 255, 0);
    background-image: url(https://raw.githubusercontent.com/theAlanDu/theAlanDu.github.io/master/Logos/linkedin.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 125px; 
    border: none;
    bottom:-15%;
    color: white;
    cursor: pointer;
    height: 120px;
    margin-right: 15px;
    position: relative;
    text-indent: -999999px;
    width: 130px;
}