body
{
    width: auto;
    margin:auto;
    padding:0;

    display: flex;
    flex-direction: column;
    min-height: 100vh;

    border: black;
    background-color: white;
}
/*----------------------------------------------------------------------------------------------*/
header
{
    background:rgb(0, 0, 0);
    border: black;
    padding: 0px 0px 0px 50px;
    height: 50px;
    align-items: middle;
}
div.header
{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
h1.header
{
    color: white;
    font-style: helvetica;
    font-size: 18pt;
}
h2.header
{
    color: white;
    font-style: helvetica;
    font-size: 12pt;
}
ul.header
{
    display: flex;
    flex-direction: row;
}
li.header
{
    padding: 0px 50px 0px 0px;
}
/*----------------------------------------------------------------------------------------------*/
main
{
    width: 100%;
}
h1.main
{
    margin: 10px 0 0 2%;
    color:red;
}
h2.main
{
    margin: 0 0 10px 2%;
    font-size: 12pt;
    color: gray;

}
h6
{
    margin: 1pt 0 0 0;
    font-size: 10pt;
    text-align: center;
}
img.main
{
    height: auto;
    width: 100%;
}
section.main
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
div.main-left
{
    display: flex;
    flex-direction: column;
    align-items: right;
    margin: 0 0 0 0;
    padding: 0 1% 0 2%;
    width: 60%;
}
div.main-right
{
    display: flex;
    flex-direction: column;
    align-items: right;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 40%;
}
/*----------------------------------------------------------------------------------------------*/
footer
{   
    background:rgb(0, 0, 0);
    border: black;
    padding: 0px 50px 0px 50px;
    height: 50px;
    align-items: middle;
    width:auto;
    margin-top: auto;
}
div.footer
{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
h1.footer
{
    color: white;
    font-style: helvetica;
    font-size: 12pt;
}
h2.footer
{
    color: white;
    font-style: helvetica;
    font-size: 12pt;
}