body
{
    width: auto;
    margin:auto;
    padding:0;

    display: flex;
    flex-direction: column;
    min-height: 100vh;

    border: gray;
    background-image: url(http://hdqwalls.com/wallpapers/kawasaki-ninja-h2-new.jpg);
    background-size:2000px auto;
    background-position-x: 1000px;
}
/*----------------------------------------------------------------------------------------------*/
header
{
    background:rgb(0, 0, 0);
    border: black;
    padding: 0px 0px 0px 50px;
    height: 100px;
    align-items: middle;
}
div.header
{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
h1.header
{
    color: white;
    font-style: helvetica;
    font-size: 200%;
}
h2.header
{
    color: white;
    font-style: helvetica;
    font-size: 130%;
}
ul.header
{
    display: flex;
    flex-direction: row;
}
li.header
{
    padding: 0px 50px 0px 0px;
}
/*----------------------------------------------------------------------------------------------*/
main
{   
    padding:20px;
}
h1.main
{
    margin: 10px 0 0 0;
    color:black;
    font-size: 36pt;
}
h2.main
{
    margin: 0 0 10px 0;
    font-size: 12pt;
    color: black;

}
h3.main
{
    margin: 0 0 10px 0;
    font-size: 12pt;
    color: black;

}
h1.main-right
{
    margin: 4% 0 0 4%;
    font-size: 10pt;
}
img.main
{
    height: auto;
    width: 100%;
    border-bottom:3px solid gray;
}
section.main
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    min-height: calc(100vh - 150px);
    border: 3px solid gray;
}
div.main-left
{
    display: flex;
    flex-direction: column;
    align-items: right;
    margin: 0 0 0 0;
    padding: 0 2% 0 2%;
    width: 60%;
    background-color: rgba(255, 255, 255, 0.95);
}
div.main-right
{
    display: flex;
    flex-direction: column;
    align-items: right;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 40%;

    background-color: rgba(68, 68, 68, 0.9);
    border-left: 3px solid gray;
}

/*----------------------------------------------------------------------------------------------*/  
footer
{   
    background:rgb(0, 0, 0);
    border: black;
    padding: 0px 50px 0px 50px;
    height: 50px;
    align-items: middle;
    width: auto;
    margin-top: auto;
}
div.footer
{
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
h1.footer
{
    color: white;
    font-style: helvetica;
    font-size: 120%;
}
h2.footer
{
    color: white;
    font-style: helvetica;
    font-size: 110%;
}