body
{
    width: auto;
    margin: auto;
    padding: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    
    background-image: url(https://raw.githubusercontent.com/theAlanDu/theAlanDu.github.io/master/KawiH2.jpg);
    background-size:3500px auto;
    background-position: 30%;
    background-repeat: no-repeat;
    border: gray;
}
/*----------------------------------------------------------------------------------------------*/
header
{
    padding: 0px 0px 0px 15px;
    height: 100px;

    background:rgb(0, 0, 0);
    border: black;
}
.header div
{
    height: 100px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header h1
{
    color: white;
    font-style: helvetica;
    font-size: 4vh;
}
.header h2
{
    color: white;
    font-style: helvetica;
    font-size: 2vh;
}
.header ul
{
    display: flex;
    flex-direction: row;
}
.header li
{
    padding: 0px 5vh 0px 0;
}
.header a
{
    font-style: helvetica;
    font-size: 2vh;
    color: white;   
}
a:link
{
    color: white;
    text-decoration: none;
}
  a:visited {
    color:white;
    text-decoration: none;
}
a:hover
{
    color:gray;
    text-decoration: none;
}
a:active 
{
    color: white;
    text-decoration: none;
} 
/*----------------------------------------------------------------------------------------------*/
main
{   
    padding:20px;
    font: helvetica;
}
.main-left h1
{
    margin: 10px 0 0 0;
    color:black;
    font-size: 42pt;
    font-weight: 600;
}
.main-left h2
{
    margin: 0 0 10px 0;
    color: black;
    font-size: 16pt;
    font-weight: 100;
    font: helvetica;
}
.main-left h3
{
    color: black;
    font-size: 24pt;
    text-align: center;
}
.main-right h1
{
    color: whitesmoke;
    margin: 1% 0 0 1%;
    font-size: 24pt;
    font-weight: 300;
    text-shadow: 2px 2px 2px black;
}
.main-right h2
{
    color: whitesmoke;
    margin: 0 0 0 1%;
    font-size: 18pt;
    font-weight: 300;
    text-shadow: 2px 2px 2px black;
}
.main-right img
{
    height: auto;
    width: 100%;
    border-bottom:5px solid rgb(48, 48, 48);
}
.main-right ul
{
    list-style-type: none;
}
section.main
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    min-height: calc(100vh - 170px);
    border: 5px solid rgb(48, 48, 48);
}
div.main-left
{
    margin: 0 0 0 0;
    padding: 0 2% 0 2%;
    width: 60%;

    display: flex;
    flex-direction: column;
    align-items: right;

    background-color: rgba(255, 255, 255, 0.95);
}
div.main-right
{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    width: 40%;

    display: flex;
    flex-direction: column;
    align-items: right;
    
    background-color: rgba(68, 68, 68, 0.9);
    border-left: 5px solid rgb(48, 48, 48);
}

/*----------------------------------------------------------------------------------------------*/  
footer
{   
    width: auto;
    height: 70px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0px 50px 0px 50px;

    background:rgb(0, 0, 0);
    border: black;
}
.footer div
{
    height: 70px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer h1
{
    color: white;
    font-style: helvetica;
    font-size: 120%;
}
.footer h2
{
    color: white;
    font-style: helvetica;
    font-size: 110%;
}