body
{
    width: auto;
    margin: auto;
    padding: 0;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    
    background-color: rgb(168, 168, 168);
    border: gray;
}
/*----------------------------------------------------------------------------------------------*/
main
{
    min-height: 100vh;
    width: 100%;
}
.main button
{
    margin: 5px 5px 5px 5px;
    width: 500px;
    height: 500px;
    background-color: rgba(128, 128, 128, 0.377);
    border: 2px solid black;
    
}
.main section
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.main button:hover
{
    background-color: rgba(255, 255, 255, 0.61);
    background-image: none;
}
.main button:hover h1
{
    color: black;
    opacity: 0;
}
.main h2
{
    font-size: 18pt;
    font: helvetica;
}
.main h3
{
    font-size: 12pt;
    font: helvetica;
}






.main h1
{
    width: 100px;
    background-color: white;
    border: 2px solid black;
    padding: 0 0px 0 0;
    color: rgb(0, 0, 0);
    opacity: 1;
    position: relative;
    top: -35%;
    left: 2%;
}




/*----------------------------------------------------------------------------------------------*/
button.notes
{
    background-image: url(https://raw.githubusercontent.com/theAlanDu/theAlanDu.github.io/master/list.png);
    background-size: 500px 500px;
}
.notes div
{
    position: relative;
    top: -40%;
    left: 0%;
    opacity: 0;
}
.main button:hover.notes div
{
    color: black;
    opacity: 1;
}
/*----------------------------------------------------------------------------------------------*/
button.tennis
{
    background-image: url(https://raw.githubusercontent.com/theAlanDu/theAlanDu.github.io/master/photos/TennisNotes.jpg);
    background-size: 500px 500px;
}
.tennis div
{
    position: relative;
    top: -40%;
    left: 0%;
    opacity: 0;
}
.main button:hover.tennis div
{
    color: black;
    opacity: 1;
}
/*----------------------------------------------------------------------------------------------*/
button.stories
{
    background-image: url(https://raw.githubusercontent.com/theAlanDu/theAlanDu.github.io/master/photos/ProfilePic.jpg);
    background-size: 500px 500px;
}
.stories div
{
    position: relative;
    top: -40%;
    left: 0%;
    opacity: 0;
}
.main button:hover.stories div
{
    color: black;
    opacity: 1;
}
