body
{
    background-color: rgb(255, 255, 255);
    border: gray;
    display: flex;
    flex-direction: column;
    margin: auto;
    min-height: 150vh;
    width: auto;
}
/*----------------------------------------------------------------------------------------------*/
main.main
{
    background-color: rgb(43, 43, 43);
    min-height: 15vh;
    width: 100%;
}
.main section
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.main button
{ 
    background-color: rgba(128, 128, 128, 0.377);
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    height: 100px;
    justify-content: center;
    margin: 10px 5px 10px 5px;
    width: 100px;
}
/*--------------------------------Hovering-----------------------------------------------------*/
.main div
{
    display: none;
    height: 0px;
}
.main button:hover
{
    background-color: rgba(255, 255, 255, 0.61);
    background-image: none;
    transition: 1s;
}
.main button:hover h1
{   
    display: none
}
/*-------------------------------------Fonts--------------------------------------------*/
.main h1
{
    background-color: white;
    border: 2px solid black;
    color: rgb(0, 0, 0);
    display: block;
    font-size: 10pt;
    left: 2%;
    margin: 55px 0 0 36px;
    position: relative;
    width: 50px;
}
.main h2
{
    font-size: 8pt;
    font: helvetica;

}
.main h3
{ 
    font-size: 4pt;
    font: helvetica;
}
.main h4
{
    color: white;
    font-size: 30pt;
    font: helvetica;
    margin: 10px 0 0 10px;
    text-align: center;
    text-shadow: 5px 5px 5px black;
}
/*-----------------------------------Bigger formats--------------------------------------------------------*/
@media screen and (min-width: 600px) and (min-height: 600px)
{
    .main button
    { 
    background-color: rgba(128, 128, 128, 0.377);
    border: 2px solid black;
    height: 300px;
    margin: 10px 5px 10px 5px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
    .main h1
    {
        background-color: rgba(255, 255, 255, 0.8);
        border: 2px solid black;
        color: rgb(0, 0, 0);
        font-size: 30pt;
        opacity: 1;
        width: 150px;
        margin: 200px 0 0 131px;
    }
    .main h2
    {
        font-size: 25pt;
        font: helvetica;
        position: relative;
        top: 70px;
    }
    .main h3
    { 
        font-size: 22pt;
        font: helvetica;
        font-weight: 300;
        position: relative;
        top: 60px;
    }
    .main h4
    {
        font-size: 50pt;
        color: white;
        margin: 10px 0 0 10px;
        font: helvetica;
        text-shadow: 5px 5px 5px black;
        text-align: center;
    }

}
/*----------------------------------------------------------------------------------------------*/
button.notes
{
    background-color:white;
    background-image: url(https://raw.githubusercontent.com/theAlanDu/theAlanDu.github.io/master/photos/List.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}
.notes div
{
    left: 0%;
    display: none;
    position: relative;
    top: -40%;
}
.main button:hover.notes div
{
    color: black;
    display: block;
}
/*----------------------------------------------------------------------------------------------*/
button.tennis
{
    background-image: url(https://raw.githubusercontent.com/theAlanDu/theAlanDu.github.io/master/photos/TennisNotes.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.tennis div
{
    left: 0%;
    display: none;
    position: relative;
    top: -40%;
}
.main button:hover.tennis div
{
    color: black;
    display: block;
}
/*----------------------------------------------------------------------------------------------*/
button.stories
{
    background-image: url(https://raw.githubusercontent.com/theAlanDu/theAlanDu.github.io/master/photos/Reading.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.stories div
{
    left: 0%;
    display: none;
    position: relative;
    top: -40%;
}
.main button:hover.stories div
{
    color: black;
    display: block;
}
/*-----------------------------------Bigger formats--------------------------------------------------------*/
@media screen and (min-width: 600px) and (max-width: 1000px)
{
    .main button
    { 
    background-color: rgba(128, 128, 128, 0.377);
    border: 2px solid black;
    height: 180px;
    margin: 10px 5px 10px 5px;
    width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
    .main h1
    {
        background-color: rgba(255, 255, 255, 0.8);
        border: 2px solid black;
        color: rgb(0, 0, 0);
        font-size: 14pt;
        opacity: 1;
        width: 100px;
        margin: 120px 0 0 65px;
    }
    .main h2
    {
        font-size: 12pt;
        font: helvetica;
        position: relative;
        top: 70px;
    }
    .main h3
    { 
        font-size: 10pt;
        font: helvetica;
        font-weight: 300;
        position: relative;
        top: 60px;
    }
    .main h4
    {
        font-size: 50pt;
        color: white;
        margin: 10px 0 0 10px;
        font: helvetica;
        text-shadow: 5px 5px 5px black;
        text-align: center;
    }
}
@media screen and (min-width: 1200px)
{
    .main button
    { 
    background-color: rgba(128, 128, 128, 0.377);
    border: 2px solid black;
    height: 300px;
    margin: 10px 5px 10px 5px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
    .main h1
    {
        background-color: rgba(255, 255, 255, 0.8);
        border: 2px solid black;
        color: rgb(0, 0, 0);
        font-size: 30pt;
        opacity: 1;
        width: 150px;
        margin: 200px 0 0 131px;
    }
    .main h2
    {
        font-size: 25pt;
        font: helvetica;
        position: relative;
        top: 70px;
    }
    .main h3
    { 
        font-size: 22pt;
        font: helvetica;
        font-weight: 300;
        position: relative;
        top: 60px;
    }
    .main h4
    {
        font-size: 50pt;
        color: white;
        margin: 10px 0 0 10px;
        font: helvetica;
        text-shadow: 5px 5px 5px black;
        text-align: center;
    }

}