
#notes-section img
{
    display: block;
    border-bottom:5px solid rgb(48, 48, 48);
    border-radius: 10px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
#notes-section h1
{
    font-size: 30pt;
    font: helvetica;
    margin: 15px 15px 0px 15px;
}
#notes-section h2
{
    font-size: 15pt;  
    font-weight: 300; 
    font: helvetica;
    margin: 0px 15px 5px 15px; 
    color: gray;
}
#notes-section h3
{
    font-size: 15pt;
    font-weight: 300; 
    font: helvetica;
    line-height: 1.5;
    margin: 0px 15px 15px 15px; 
}
#notes-section h4
{
    font-size: 15pt;
    font: helvetica;
    margin: 20px 20px 15px 20px;
    text-align: center;
}
#notes-section section
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10px 0 10px;
}
#notes-section a
{
    font: helvetica;
    font-size: 15pt;
}
/*----------------------------------------------------------------------------------------------*/
@media screen and (min-width: 600px)
{   
    #notes-section img
    {
        border-bottom:5px solid rgb(48, 48, 48);
        border-radius: 10px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        width: 35%;
    }
    #notes-section h1
    {
        font-size: 30pt;
        font: helvetica;
        margin: 20px 30% 0px 30%;
    }
    #notes-section h2
    {
        color: gray;
        font-size: 15pt;  
        font-weight: 1000;
        font: helvetica;
        margin: 0 30% 0 30%; 
         
    }
    #notes-section h3
    {
        font-size: 12pt;
        font-weight: 200; 
        font: helvetica;
        margin: 0 30% 15px 30%;
    }
    #notes-section h4
    {
        font-size: 15pt;
        font: helvetica;
        margin: 20px 40% 15px 40%;
        text-align: center;
    }    
}