html
{
min-height: 100%;
position: relative;
}
body
{    
    background-image: url();
    background-position: 35%;
    background-repeat: no-repeat;
    background-size: 800vh;
    border: gray;
    display: flex;
    flex-direction: column;
    margin: auto;
    min-height: 100vh;
    padding: 0;
    width: 100%;
}
/*----------------------------------------------------------------------------------------------*/
main
{   
    font-family: Times;
    min-height: calc (100vh - 150px);
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
}

.main img
{
    border-bottom:5px solid rgb(48, 48, 48);
    border-radius: 10px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
/* title */
.main h1
{
    font-size: 24pt;
    font-family: Times;
    margin: 20px auto 0px auto;
    text-align: center;
}
/* subtitle */
.main h2
{
    font-size: 15pt;  
    font-weight: 300; 
    font-family: Times;
    margin: 5px auto 5px auto; 
    color: gray;
}
/* maintext */
.main h3
{
    font-size: 15pt;
    font-weight: 300; 
    font-family: Times;
    line-height: 1.5;
    margin: 0px 15px 10px 15px; 
}
/* quotes */
.main h4
{
    font-size: 15pt;
    font-family: Times;
    margin: 20px 20px 15px 20px;
    text-align: center;
}
/* title2 */
.main h5
{
    font-size: 15pt;
    font-family: Times;
    font-weight: 600;
    margin: 0px 15px 15px 15px; 
}
/* bolded actions */
.main h6
{
    font-family: Times;
    font-size: 12pt;
    font-weight: 400;
    margin: 0 20px 0 20px;
    line-height: 16pt;
    padding: 0;
}
/* ------------------------------------------------- */
p
{
    margin: 0 0 10px 0;
}
section.nav
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px 10px 0 10px;
}
.nav a, .nav a:visited 
{
    color: black;
    font-family: Times;
    font-size: 15pt;
    margin: 0 0 15px 0;
}
iframe
{
    align-self: center;
    margin: 10px 0 10px 0;
}
/*----------------------------------------------------------------------------------------------*/
@media screen and (min-width: 600px)
{
    main
    {   
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        font-family: Times;
        justify-content: end;
        min-height: calc (100vh - 150px);
        margin: 0 30% 0 30%;
    }
    
    .main img
    {
        border-bottom:5px solid rgb(48, 48, 48);
        border-radius: 10px;
        height: auto;
        margin: 0 auto 20px auto;
        width: 80%;
    }
    .main h1
    {
        font-size: 30pt;
        font-family: Times;
        margin: 20px auto 0 auto;
    }
    .main h2
    {
        color: gray;
        font-size: 15pt;  
        font-weight: 1000;
        font-family: Times;
        text-align: center;
        margin: 0 auto 0 auto;
    }
    .main h3
    {
        font-size: 12pt;
        font-weight: 200; 
        font-family: Times;
        margin: 0 0 15px 0;
    }
    .main h4
    {
        font-size: 15pt;
        font-family: Times;
        margin: 5px 10% 15px 10%;
        text-align: center;
    } 
    .main h5
    {
        font-weight: 600;
        margin: 0 0 0 0;
    }
    .main h6
    {
        font-size: 12pt;
        font-weight: 600;
        margin: 0 10% 0 10%;
        padding: 0;
        text-align: center;
    }
    section
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 10% 0 10%;
    }  
    .nav a, .nav a:visited 
    {
    color: black;
    font-family: Times;
    font-size: 12pt;
    font-weight: 800;
    } 
}