
body
{    
    background-image: url();
    background-position: 35%;
    background-repeat: no-repeat;
    background-size: 800vh;
    border: gray;
    display: flex;
    flex-direction: column;
    margin: auto;
    min-height: 100vh;
    padding: 0;
    width: 100%;
}
/*----------------------------------------------------------------------------------------------*/
main
{   
    font: helvetica;
    min-height: calc (100vh - 150px);
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
}

.main img
{
    border-bottom:5px solid rgb(48, 48, 48);
    height: auto;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
.main h1
{
    font: helvetica;
    font-size: 18pt;
}
.main h2
{
    font: helvetica;
    font-size: 12pt;    
}
.main h3
{
    font: helvetica;
    font-size: 15pt;
}

/*----------------------------------------------------------------------------------------------*/
@media screen and (min-width: 600px)
{
    .main img
    {
        border-bottom:5px solid rgb(48, 48, 48);
        height: auto;
        width: 100%;
    }
    .main h1
    {
        font: helvetica;
        font-size: 18pt;
    }
    .main h2
    {
        font: helvetica;
        font-size: 12pt;    
    }
    .main h3
    {
        font: helvetica;
        font-size: 15pt;
    } 
}