
body
{    
    background-image: url();
    background-position: 35%;
    background-repeat: no-repeat;
    background-size: 800vh;
    border: gray;
    display: flex;
    flex-direction: column;
    margin: auto;
    min-height: 100vh;
    padding: 0;
    width: 100%;
}
/*----------------------------------------------------------------------------------------------*/
main
{   
    font: helvetica;
    min-height: calc (100vh - 150px);
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start;
}

.main img
{
    border-bottom:5px solid rgb(48, 48, 48);
    border-radius: 10px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.main h1
{
    font-size: 24pt;
    font: helvetica;
    margin: 20px 15px 0px 15px;
}
.main h2
{
    font-size: 15pt;  
    font-weight: 300; 
    font: helvetica;
    margin: 0px 15px 5px 15px; 
    color: gray;
}
.main h3
{
    font-size: 15pt;
    font-weight: 300; 
    font: helvetica;
    line-height: 1.5;
    margin: 0px 15px 15px 15px; 
}
.main h4
{
    font-size: 15pt;
    font: helvetica;
    margin: 20px 20px 15px 20px;
    text-align: center;
}
section
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10px 0 10px;
}
.nav a, .nav a:visited 
{
    color: black;
    font: helvetica;
    font-size: 15pt;
    margin: 0 20% 15px 20%;
}

iframe
{
    align-self: center;
}
/*----------------------------------------------------------------------------------------------*/
@media screen and (min-width: 600px)
{
    main
    {   
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        font: helvetica;
        justify-content: end;
        min-height: calc (100vh - 150px);
        margin: 0 30% 0 30%;
    }
    
    .main img
    {
        border-bottom:5px solid rgb(48, 48, 48);
        border-radius: 10px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
    .main h1
    {
        font-size: 30pt;
        font: helvetica;
        margin: 20px 0 0 0;
    }
    .main h2
    {
        color: gray;
        font-size: 15pt;  
        font-weight: 1000;
        font: helvetica;
        margin: 0 0 0 0; 
         
    }
    .main h3
    {
        font-size: 12pt;
        font-weight: 200; 
        font: helvetica;
        margin: 0 0 15px 0;
    }
    .main h4
    {
        font-size: 15pt;
        font: helvetica;
        margin: 20px 10% 15px 10%;
        text-align: center;
    } 
    section
    {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10% 0 10%;
    }  
    .nav a, .nav a:visited 
    {
    color: black;
    font: helvetica;
    font-size: 12pt;
    font-weight: 800;
    } 
}